{% load static %}

<div class="container-sm p-3 border border-primary mb-3">
    <div class="row mb-1" id="top-row">
        <div class="col-3">
            <div class="rounded-circle avatar mx-auto">
                <img src="{% static 'img/face.svg' %}" alt="Avatar">
            </div>

        </div>
        <div class="col-9 pl-4">
            <p class="h4 text-md-center">{{ question.title }}</p>
            <p class="text-justify">{{ question.text }}</p>
        </div>
    </div>
    <div class="row" id="bottom-row">
        <div class="col-3">
            <div class="text-center row p-2" id="rating-control" data-object="{{ question.question_id }}" data-type="question">
                <span class="col-sm-4"></span>
                <svg class="bi bi-heart-fill vote-inc" width="32px" height="32px" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z" clip-rule="evenodd"/>
                </svg>
                <span class="col-sm-4 p-1" id="rating-{{ question.question_id }}">{{ question.rating }}</span>
            </div>
        </div>
        <div class="col-3 text-center">
            <a href="{% url 'question_index' question_id=1 %}">
                <h5>Answers</h5>
            </a>
        </div>
        <div class="col-6">
            <div class="row">
                <div class="col-3 text-center">
                    <p>Tags:</p>
                </div>
                <div class="col-9 d-flex flex-row">
                  <ul>
                    {% for tag in question.tags.all %}
                    <a class="badge badge-primary" href="{% url 'tag_filter' tag_name=tag %}">
                        {{ tag.title }}
                    </a>
                    {% endfor %}
                </ul>
                </div>
            </div>
        </div>
    </div>
</div>
