{%  load static %}
{% if user.is_authenticated %}
    <div class="rounded-circle bar-avatar mx-auto">
            <img src="{{ MEDIA_URL }}{{ user.profile.avatar }}" alt="Avatar">
    </div>
    <div class="collapse navbar-collapse" id="navbarSuapportedContent-4">
        <div class="navbar-nav ml-auto">
            <div class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-4"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-user"></i> Profile </a>
                <div class="dropdown-menu dropdown-menu-right dropdown-cyan" aria-labelledby="navbarDropdownMenuLink-4">
                    <a class="dropdown-item" href="{% url 'settings' %}">My account</a>
                    <a class="dropdown-item" href="{% url 'signout' %}">Log out</a>
                </div>
            </div>
        </div>
    </div>
{% else %}
<div class="row">
	<a class="btn btn-primary mr-3" href="{% url 'signin' %}">Login</a>
	<a class="btn btn-primary" href="{% url 'signup' %}">Sign Up</a>
</div>

{% endif %}