{% extends 'base.html' %}

{% block content %}
	<div class="container">
    <form method="post">
        {% csrf_token %}
		<h2>Задайте Вопрос</h2>
		<div class="form-group row">
            {% if form.title.errors %}
                {% for error in form.title.errors %}
                    <li class="text-danger"><strong>{{ error|escape }}</strong></li>
                    {% endfor %}
            {% endif %}
			<label class="col-sm-2 col-form-label" for="{{ form.title.title_for_label }}">Title</label>
			<div class="col-sm-10">
                {{ form.title }}
			</div>
		</div>
		<div class="form-group row">
            {% if form.test.errors %}
                {% for error in form.text.errors %}
                    <li class="text-danger"><strong>{{ error|escape }}</strong></li>
                    {% endfor %}
            {% endif %}
			<label class="col-sm-2 col-form-label" for="{{ form.text.text_for_label }}">Text</label>
			<div class="col-sm-10 send-text">
                {{ form.text }}
			</div>
		</div>
		<div class="form-group row">
            {% if form.tags.errors %}
                {% for error in form.tags.errors %}
                    <li class="text-danger"><strong>{{ error|escape }}</strong></li>
                    {% endfor %}
            {% endif %}
			<label class="col-sm-2 col-form-label" for="{{ form.tags.tags_for_label }}">Tags</label>
			<div class="col-sm-10">
				{{ form.tags }}
			</div>
		</div>
		<div class="form-group row">
			<div class="col-sm-2"></div>
			<div class="col-sm-10">
				<button type="submit" class="btn btn-primary">Ask?</button>
			</div>
		</div>
    </form>
	</div>
{% endblock %}