{% load static %}
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{%  static 'bootstrap/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>
    <body class="body">
        <header class="header bg-light">
            <nav class="navbar navbar-expand-lg navbar-light container h-100">
                <a class="navbar-brand col-3" href="#">CrazyAsker</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <form class="form-inline my-2 my-lg-0 col-5">
                    <input class="form-control mr-sm-2" type="search" placeholder="type question" aria-label="Search">
                    <button class="btn btn-outline-primary   my-2 my-sm-0" type="submit">Asker</button>
                </form>
                <div class="col-3">
                    <p class="text-center m-0">AVATAR</p>
                </div>
            </nav>
        </header>
        <main class="container main">
            <div class="row">
                <div class="col-md-8 content-main">
                    {% block content %}
                    {% endblock %}
                </div>
                <!-- content-main -->
                <aside class="col-md-4 sight-bar">
                    <div class="p-4 mb-3 tags">Popular Tags</div>
                    <div class="p-4 members">Best Members</div>
                </aside>
                <!-- right_bar-main -->
            </div>
        </main>
        <footer class="footer">
            <p>
                Blog template was built by
                <a href="https://github.com/TalkyTitan5127">@TalkyTitan5127</a>
            </p>
            <p>
                <a href="#">Back to top</a>
            </p>
        </footer>
    </body>
</html>