{% load static %}
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{%  static 'bootstrap/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>
    <body class="body">
        <header class="header bg-light mb-3">
            <nav class="navbar navbar-expand-lg navbar-light container h-100">
                <a class="navbar-brand col-3" href="{% url 'index' %}">CrazyAsker</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <form class="form-inline my-2 my-lg-0 col-6">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-primary   my-2 my-sm-0" type="submit">!Search!</button>
                    <a class="btn btn-outline-primary   my-2 my-sm-0 ml-2" href="{% url 'ask' %}">!ask!</a>
                </form>
                {% include 'primitives/profile.html' %}
            </nav>
        </header>
        <main class="container main">
            <div class="row">
                <div class="col-md-8 content-main">
                    {% block content %}
                    {% endblock %}
                </div>
                <!-- content-main -->
                <aside class="col-md-4 pl-5 sight-bar">
                    <div class="p-4 mb-3 tags align-self-start">
                        <h3>Popular Tags</h3>
                        {% for tag in popular_tags %}
                        <a class="badge badge-primary m-1" href="{% url 'tag_filter' tag_name=tag %}">
                            {{ tag.title }}
                        </a>
                        {% endfor %}
                    </div>
                    <div class="p-4 members align-self-center">
                        <h3>Best Members</h3>
                        {% for user in popular_users %}
                        <span class="badge badge-primary m-1">
                            {{ user.username }}
                        </span>
                        {% endfor %}
                    </div>
                </aside>
                <!-- right_bar-main -->
            </div>
        </main>
        <footer class="footer">
            <div class="container">
                <div class="row">

                </div>
                <p>
                    Blog template was built by
                    <a href="https://github.com/TalkyTitan5127">@TalkyTitan5127</a>
                </p>
                <p>
                    <a href="#">Back to top</a>
                </p>
            </div>
        </footer>
        <!-- js -->
    <script src="https://code.jquery.com/jquery-3.5.0.min.js" integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script>
        $(document).ready(function() {
            function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

            function csrfSafeMethod(method) {
                // these HTTP methods do not require CSRF protection
                return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
            }

            // like dislike functions
            $('.vote-inc').click(function() {
                var heart = this;
                var csrftoken = getCookie('csrftoken');
                var rating = this.parentNode;
                var object_id = rating.dataset['object'];
                var content_type = rating.dataset['type'];
                $.ajax({
                    beforeSend: function(xhr, settings) {
                        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                            xhr.setRequestHeader("X-CSRFToken", csrftoken);
                        }
                    },

                    url: '{% url 'add_like' %}',
                    data: {
                        'object': object_id,
                        'content': content_type,
                    },
                    type: 'POST',
                    success: function(json) {
                        let rating_obj = document.getElementById('rating-'+object_id);
                        let new_rating = parseInt(json['rating']);
                        if (new_rating - parseInt(rating_obj.innerText) == 1) {
                            heart.setAttribute('fill', 'blue');
                        } else {
                            heart.setAttribute('fill', 'black');
                        }
                        rating_obj.innerText = new_rating;
                    },

                    error: function(json) {
                        console.log(json);
                        console.log('failed');
                    },
                });

                console.log();
            });

            $('.correct-checkbox').click(function() {
                var checkbox = this;
                var csrftoken = getCookie('csrftoken');
                $.ajax({
                    beforeSend: function(xhr, settings) {
                        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                            xhr.setRequestHeader("X-CSRFToken", csrftoken);
                        }
                    },

                    url: '{% url 'correct_answer' %}',
                    data: {
                        'question': checkbox.dataset['question'],
                        'answer': checkbox.dataset['answer'],
                        'is_correct': checkbox.checked,
                    },
                    type: 'POST',
                    success: function(json) {
                        var correct = document.getElementById('field-'+checkbox.dataset['answer']);
                        if (json['correct']) {
                            correct.style.display = 'inline-block';
                            checkbox.checked = true;
                        } else {
                            correct.style.display = 'none';
                            checkbox.checked = false;
                        }
                    },
                    error: function(json) {
                        data = json.responseJSON;
                        console.log(data['message']);
                        console.log('failed');
                        checkbox.checked = false;
                    }
                });
            });

        });
    </script>
    {% block js %}
    {% endblock %}
    </body>
</html>