{% load static %}
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{%  static 'bootstrap/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>
    <body class="body">
        <header class="header bg-light mb-3">
            <nav class="navbar navbar-expand-lg navbar-light container h-100">
                <a class="navbar-brand col-3" href="{% url 'index' %}">CrazyAsker</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <form class="form-inline my-2 my-lg-0 col-6">
                    <input class="form-control mr-sm-2" type="search" placeholder="type question" aria-label="Search">
                    <button class="btn btn-outline-primary   my-2 my-sm-0" type="submit">Asker</button>
                </form>
                <div class="col-3">
                    <p class="profile">{% include 'primitives/profile.html' %}</p>
                </div>
            </nav>
        </header>
        <main class="container main">
            <div class="row">
                <div class="col-md-8 content-main">
                    {% block content %}
                    {% endblock %}
                </div>
                <!-- content-main -->
                <aside class="col-md-4 pl-5 sight-bar">
                    <div class="p-4 mb-3 tags align-self-start">
                        <h3>Popular Tags</h3>
                        {% for tag in tags %}
                        <a class="badge badge-primary m-1" href="{% url 'tag_filter' tag_name=tag %}">
                            {{  tag }}
                        </a>
                        {% endfor %}
                    </div>
                    <div class="p-4 members align-self-center">
                        <h3>Best Members</h3>
                    </div>
                </aside>
                <!-- right_bar-main -->
            </div>
        </main>
        <footer class="footer">
            <div class="container">
                <div class="row">

                </div>
                <p>
                    Blog template was built by
                    <a href="https://github.com/TalkyTitan5127">@TalkyTitan5127</a>
                </p>
                <p>
                    <a href="#">Back to top</a>
                </p>
            </div>
        </footer>
    </body>
</html>