{% load static %}
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{%  static 'bootstrap/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/login.css' %}">
    </head>
    <body class="text-center login-body">
        <form class="form-signin" method="post">
            {% csrf_token %}
            <h1 class="mb-3">Log In</h1>
            {% for message in messages %}
                <div class="text-danger">
                    {{ message }}
                </div>
            {% endfor %}
            {% for message in form.errors %}
                <div class="text-danger">
                    {{ message }}
                </div>
            {% endfor %}
            {% if form.username.errors %}
                {% for error in form.username.errors %}
                    <li class="text-danger"><strong>{{ error|escape }}</strong></li>
                    {% endfor %}
            {% endif %}

            <label for="{{ form.username.username_for_label }}" class="sr-only" ></label>
            {{ form.username }}

            {% if form.password.errors %}
                {% for error in form.password.errors %}
                    <li class="text-danger"><strong>{{ error|escape }}</strong></li>
                    {% endfor %}
            {% endif %}

            <label for="{{ form.password.password_for_label }}" class="sr-only"></label>
            {{ form.password }}

            <div class="checkbox mb-3">
                <label>
                  <input type="checkbox" value="remember-me"> Remember me
                </label>
            </div>
            <div class="row">
                <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
                <a href="{% url 'signup' %}" role="button" class="btn btn-lg btn-primary btn-block">Register in</a>
            </div>
        </form>
    </body>
</html>

