{% extends "base.html" %}
{% block title %}
	Вопрос
{%  endblock %}
{% block content %}
	{% include 'primitives/one_question.html' %}
    <div class="list-group mb-3">
        {% if answers %}
            {% for answer in answers %}
                    {% include 'primitives/one_answer.html' %}
            {% endfor %}
	    {% else %}
            <div class="list-group-item border-warning text-center">
                <p>No Answers yet</p>
            </div>
	    {% endif %}
    </div>
    <div>
	<nav aria-label="Page navigation example">
	    <ul class="pagination justify-content-center">
		    <li class="page-item disabled">
		       <a class="page-link" href="#" tabindex="-1">Previous</a>
		    </li>
		    <li class="page-item"><a class="page-link" href="#">1</a></li>
		    <li class="page-item"><a class="page-link" href="#">2</a></li>
		    <li class="page-item"><a class="page-link" href="#">3</a></li>
		    <li class="page-item">
		      <a class="page-link" href="#">Next</a>
		    </li>
	    </ul>
	</nav>
	</div>
	<div class="form-group send-text">
        <textarea type="text" class="form-control mb-3" id="AnswerInput" placeholder="Enter your answer here..">
        </textarea>
		<button class="btn btn-primary">Answer</button>
	</div>
{% endblock %}