{% extends "base.html" %}
{% block title %}
	Вопрос
{%  endblock %}
{% block content %}
	{% include 'primitives/one_question.html' %}
    <div class="list-group mb-3">
        {% if answers %}
            {% for answer in answers %}
                    {% include 'primitives/one_answer.html' %}
            {% endfor %}
	    {% else %}
            <div class="list-group-item border-warning text-center">
                <p>No Answers yet</p>
            </div>
	    {% endif %}
    </div>
    {% include 'primitives/pagination.html' %}
	<div class="form-group send-text">
        <label for="answer_input" class="col-form-label"></label>
        <h4>Напишите свой ответ</h4>
        <textarea type="text" class="form-control mb-3" id="answer_input" placeholder="Enter your answer here..">
        </textarea>
		<button class="btn btn-primary">Answer</button>
	</div>
{% endblock %}