{% load static %}
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{%  static 'bootstrap/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/register.css' %}">
    </head>
    <body class="text-center register-body">
        <form class="form-register" method="post">
            {% csrf_token %}
            <h1 class="m-4">Registration</h1>
            {% for message in messages %}
                <div class="text-danger">
                    {{ message }}
                </div>
            {% endfor %}
            {% if form.errors %}
                {% for field in form %}
                    {% for error in field.errors %}
                        <div class="text-danger">
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                {% endfor %}
            {% endif %}
            <div class="border border-primary">
                <div class="form-group row">
                    {% if form.username.errors %}
                        {% for error in form.username.errors %}
                            <li class="text-danger"><strong>{{ error|escape }}</strong></li>
                            {% endfor %}
                    {% endif %}
                    <label for="{{ form.username.username_for_label }}" class="col-sm-4 col-form-label mt-3">Username</label>
                    <div class="col-sm-8">
                        {{ form.username }}
                    </div>
                </div>
                <div class="form-group row">
                    {% if form.email.errors %}
                        {% for error in form.email.errors %}
                            <li class="text-danger"><strong>{{ error|escape }}</strong></li>
                            {% endfor %}
                    {% endif %}
                    <label for="{{ form.email.email_for_label }}" class="col-sm-4 col-form-label mt-3">Email</label>
                    <div class="col-sm-8">
                        {{ form.email}}
                    </div>
                </div>
                <div class="form-group row">
                    <label for="{{ form.first_name.first_name_for_label }}" class="col-sm-4 col-form-label mt-3">First Name</label>
                    <div class="col-sm-8">
                        {{ form.first_name}}
                    </div>
                </div>
                <div class="form-group row">
                    <label for="{{ form.last_name.last_name_for_label }}" class="col-sm-4 col-form-label mt-3">Second Name</label>
                    <div class="col-sm-8">
                        {{ form.last_name }}
                    </div>
                </div>
                <div class="form-group row">
                    {% if form.username.errors %}
                        {% for error in form.username.errors %}
                            <li class="text-danger"><strong>{{ error|escape }}</strong></li>
                            {% endfor %}
                    {% endif %}
                    <label for="{{ form.password1.password1_for_label }}" class="col-sm-4 col-form-label mt-3">Password</label>
                    <div class="col-sm-8">
                        {{ form.password1 }}
                    </div>
                </div>
                <div class="form-group row">
                    <label for="{{ form.password2.password2_for_label }}" class="col-sm-4 col-form-label mb-3 mt-3">Repeat password</label>
                    <div class="col-sm-8">
                        {{ form.password2 }}
                    </div>
                </div>
            </div>
             <button class="btn btn-primary m-4" type="submit">Submit form</button>
        </form>
    </body>
</html>
<script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.js"></script>
<script>
      bsCustomFileInput.init();
</script>